---
layout: default
---

<div id="header-text">
  <br>Raspberry Jams are independently organised community events for people to come together to learn about digital making with Raspberry Pi.
  <br>Leeds Raspberry Jam is usually hosted on the first Wednesday of the month at Dixons Unity Academy (<a href="https://goo.gl/maps/j5Fp9FKvA6mh8SJd9">view on google maps</a>), everyone is welcome regardless of skill level or experience. Tickets are available at our Eventbrite page below.
</div>


<div class="home py-4 py-md-5">
  <div class="row">
    {% for post in paginator.posts %}
      <div class="col-12 col-md-6 col-lg-4">
       <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
        <div class="card">
          <div class="image">
            {% if post.img %}
            <img height="220" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
            {% endif %}
            <div class="card-body">
              <h3 class="panel-title font-weight-bold">{{ post.title | truncate: 25 }}</h3>
              <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
            </div>
          </div>
        </div>
      </a>
      </div>
    {% endfor %}
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li class="page-item active">
              <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="page-item active">
                <span class="page-link">{{ page }}</span>
              </li>
            {% elsif page == 1 %}
              <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li class="page-item active">
              <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            </li>
          {% else %}
            <li class="page-item">
              <span class="page-link">Next</span>
            </li>
          {% endif %}
          </ul>
        {% endif %}
    </div>
  </div>

</div>
